<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Tester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><applicationSettings>
        <Tester.Properties.Settings>
            <setting name="movementsList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>rest</string>
                        <string>open</string>
                        <string>close</string>
                        <string>flex</string>
                        <string>extend</string>
                        <string>pronation</string>
                        <string>supination</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="allowedMovements" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1,3</string>
                        <string>2,3</string>
                        <string>1,4</string>
                        <string>2,4</string>
                        <string>1,5</string>
                        <string>2,5</string>
                        <string>1,6</string>
                        <string>2,6</string>
                        <string>3,5</string>
                        <string>4,5</string>
                        <string>3,6</string>
                        <string>4,6</string>
                        <string>1,3,5</string>
                        <string>2,3,5</string>
                        <string>1,3,6</string>
                        <string>2,3,6</string>
                        <string>1,4,5</string>
                        <string>2,4,5</string>
                        <string>1,4,6</string>
                        <string>2,4,6</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Tester.Properties.Settings>
    </applicationSettings>
</configuration>
