<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MPTCE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <MPTCE.Properties.Settings>
            <setting name="AcqDeviceNChannels" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AcqDeviceSampleFreq" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="SelectedDevice" serializeAs="String">
                <value>ADS1298</value>
            </setting>
            <setting name="AcqDeviceGain" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="AcqDeviceMinV" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="AcqDeviceMaxV" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AcqSimultMovements" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AcqDetectThresholds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AcqDeviceList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ADS1298</string>
                        <string>playback</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AcqMovementsList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>rest</string>
                        <string>open</string>
                        <string>close</string>
                        <string>flex</string>
                        <string>extend</string>
                        <string>pronation</string>
                        <string>supination</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AcqScheduleActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AcqScheduleItemTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AcqAllowedMovements" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1,3</string>
                        <string>2,3</string>
                        <string>1,4</string>
                        <string>2,4</string>
                        <string>1,5</string>
                        <string>2,5</string>
                        <string>1,6</string>
                        <string>2,6</string>
                        <string>3,5</string>
                        <string>4,5</string>
                        <string>3,6</string>
                        <string>4,6</string>
                        <string>1,3,5</string>
                        <string>2,3,5</string>
                        <string>1,3,6</string>
                        <string>2,3,6</string>
                        <string>1,4,5</string>
                        <string>2,4,5</string>
                        <string>1,4,6</string>
                        <string>2,4,6</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AcqRepetitionsPerMovement" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TrtFeaturesList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mean</string>
                        <string>tmabs</string>
                        <string>twl</string>
                        <string>tzc</string>
                        <string>tslpchs</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TrtTrainingSetSize" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="TrtValidationSetSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TrtContractionTimePercentage" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="TrtWindowSizeMsec" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TrtWindowOffsetMsec" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AcqScheduleWarmupItems" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReaConsumerList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>keyboard</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ReaMovDisplayer" serializeAs="String">
                <value>movDisplay</value>
            </setting>
            <setting name="ADS1298CorrectOffset" serializeAs="String">
                <value>False</value>
            </setting>
        </MPTCE.Properties.Settings>
    </applicationSettings>
</configuration>
